{# Don't forget that one ! #} {% load static %} {% block content %}
<div>
    <a href = https://github.com/MrGuss/PSearch> Source</a>
    <form action="" method="post">
        {% csrf_token %} 
        <div>Препод:</div>
            <div class="content-end">{{ form.ID }}</div>
        <div> Неделя: </div>
        <div class="content-end">{{ form.nedelya }}</div>
        
        <span id="add-form" class="button"></span>

        <input type="submit" value="Искать!"/>
    </form>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>День</th>
                    <th>Пара №</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Препод</th>
                    <th>Аудитория</th>
                </tr>
            </thead>
            <tbody>
                {% for para in resp %}
                <tr>
                    <td>{{para.0|linebreaksbr}}</td>
                    <td>{{para.1|linebreaksbr}}</td>
                    <td>{{para.2|linebreaksbr}}</td>
                    <td>{{para.3|linebreaksbr}}</td>
                    <td>{{para.4|linebreaksbr}}</td>
                    <td>{{para.5|linebreaksbr}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block footer %}
<script
    type="text/javascript"
    src="{% static 'admin/js/vendor/jquery/jquery.js' %}"
></script>

{{ form.media }}

<script>
    (function ($) {
        $("#add-form").click(function () {
            var index = $("#id_inline_test_models-TOTAL_FORMS").val();
            var newTable = $("#id_inline_test_models-__prefix__-DELETE")
                .parents("table")
                .clone();
            newTable.find(":input").each(function () {
                for (attr of ["ID"])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace("__prefix__", index)
                    );
            });
            newTable.insertBefore($(this));
            $("#id_inline_test_models-TOTAL_FORMS").val(
                parseInt($("#id_inline_test_models-TOTAL_FORMS").val()) + 1
            );
            newTable.slideDown();
        });
    })($);
</script>
{% endblock %}
